.passions {
  height: 70vh;
  background-color: $dark;
  color: white;
  padding: 25% 5% 5% 10%;
  justify-content: center;

  h2 {
    font-size: 28px;
    letter-spacing: 0.05em;
    margin-bottom: 20%;
  }

  .passion_title {
    font-weight: 900;
    letter-spacing: 0.1em;

    & + p {
      margin-bottom: 15%;
    }
  }

  #oj {
    color: $a3;
  }

  #pa {
    color: $a1;
  }

  #gs {
    color: $a2;
  }
}
