.projects {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .info {
    display: none;
  }

  /* unvisited link */
  a:link {
    color: white;
  }

  /* visited link */
  a:visited {
    color: black;
  }

  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: underline;
  }

  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }
}


.proj {
  color: $dark;

  .head {
    font-size: 28px;
    letter-spacing: 0.05em;
    margin-left: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

.explain {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10%;
}



.panel {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  padding-left: 4%;
  padding-right: 4%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .center {
    display: flex;
    flex-flow: row;
    width: 150px;

    h2 {
      width: 10px;
    }

    img {
      padding-right: 10px;
      width: 50px;
      height: 50px;
    }
  }

  a {
    width: 70%;
    text-align: left;
  }

  &:hover {
    .info {
      display: block;
    }

    p {
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      text-align: center;
    }
  }
}

.backwards .prog-about {
  padding-top: 20px;
  padding-right: 5%;
}

.forward .prog-about {
  padding-top: 20px;
  padding-left: 5%;
}

.lang {
  display: flex;
  flex-direction: row wrap;
}
.pill {
  background: $a3;
  white-space: nowrap;
  border-radius: 15px;
  font-size: 1em;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.side {
  margin-right: 10px;
}

.box1 {
  background-color: $a3;
  background-image: url(img/angular-grab.png);
  background-position: center; 
}
.box2 {
  background-color: $darkg;
  background-image: url(img/js-grab.png);
  background-position: center; 

}
.box3 {
  background-color: $a4;

}
.box4 {
  background-color: $a1;

}
.box5 {
  background-color: $a2;

}
.box6 {
  background-color: $main;
}

a {
  text-decoration: none;
}

.see {
  float: right;
}