.skills {
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;

  p {
    margin: auto;
    width: 230px;
    font-weight: bold;
    font-size: 28px;
  }

  span {
    font-weight: bold;
    font-size: 2em;
  }
}

.dev,
.design {
  width: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;

  & h2 {
    font-size: 28px;
    letter-spacing: 0.05em;
    padding: 5px;
    border-radius: 7px 7px 0 0;
    color: white;
  }

  & ul {
    list-style-type: none;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

.dev h2 {
  background-color: $a2;
}

.design h2 {
  background-color: $a1;
}
