.projgrid {
    display: flex;
    max-width: 400px;
    margin: 0 auto;

    flex-direction: column;

    .projcard {
        margin-bottom: 20px;
        height: 400px;
        border: 1px solid #efefef;
        border-radius: 5px;
        padding: 15px 20px;

        &hr {
            border: 0.75px solid #efefef
        }
    }
}

//tablet view
@media (min-width: 768px) {
    .projgrid {
        max-width: 1050px;
        display: grid;
        grid-template-areas: 
            " card1 card2 card2 "
            " card3 card4 card5 "
            " card6 card6 card7 "
            " card8 card9 card9 "
            " card10 card11 card12 ";
        grid-gap: 25px;
        margin-top: 50px;

            #c1 {
                grid-area: card1;
            }
            #c2 {
                grid-area: card2;
            }
            #c3 {
                grid-area: card3;
            }
            #c4 {
                grid-area: card4;
            }
            #c5 {
                grid-area: card5;
            }
            #c6 {
                grid-area: card6;
            }
            #c7 {
                grid-area: card7;
            }
            #c8 {
                grid-area: card8;
            }
            #c9 {
                grid-area: card9;
            }
            #c10 {
                grid-area: card10;
            }
            #c11 {
                grid-area: card11;
            }
            #c12 {
                grid-area: card12;
            }

    }

}

//desktop view
@media (min-width: 1200px) {

}