.projgrid {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;

    flex-direction: column;

    .projcard {
        margin-bottom: 20px;
    }
}

//tablet view
@media (min-width: 768px) {
    .projgrid {
        max-width: 850px;
    }

    grid-template: 
        " card1 card2 "
        " card3 card4 card5 "
        " card6 card7 "
        " card8 card9 "
        " card10 card11 card12 ";

}

//desktop view
@media (min-width: 1200px) {

}