nav {
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    width: 80px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .upnav {
    padding-top: 15px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: none;
    margin-right: 10px;

    li {
      cursor: pointer;
      display: inline-block;
      position: relative;

      a {
        text-decoration: none;
        padding: 15px;
        color: black;
      }

      .nav-hover {
        transition: width 5s;
        -webkit-transition: width 5s;
      }

      .nav-hover:after{
        content: '';
        position: absolute;
        height: 2px;
        display: block;
        margin-top: 5px;
        background: #000000;
      }
      
      .nav-hover:hover:after{
        width: 100%;
        background: #000000;
      }
    }
 
  }

  .upbutton {
    margin-top: 10px;
  }

  .pulse:hover {
    animation: pulse 1s;
  }

  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }

    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }

  .hide {
    display: none;
  }
}

header {
  padding: 5%;
  height: 590px;
  background-image: url("img/me.png");
  background-size: 750px;
  background-repeat: no-repeat;
  background-position: right -300px bottom -10px;
  overflow: hidden;

  h1 {
    color: $main;
    font-size: 65px;
    margin-top: 0.7em;
  }

  p {
    color: black;
  }

  .hide-pic {
    overflow: hidden;
    margin: auto 10% 0 auto;
  }

  .links {
    margin-top: 20px;
  }
}

.links a {
    padding-right: 10px;
  }

  .links .fab {
    font-size: 1.5em;
  }

  .links a:link {
    color: $darkg;
  }

  .links a:visited {
    color: $card;
  }

  .links a:hover {
    color: $a3;
  }

  .links a:active {
    color: white;
  }

#repo {
  background-color: #f0bd2682;
}