nav {
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    width: 80px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .upnav {
    padding-top: 15px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: none;
    margin-right: 10px;

    li {
      cursor: pointer;

      a {
        text-decoration: none;
        padding: 15px;
        color: black;
      }
    }
  }

  .upbutton {
    margin-top: 10px;
  }

  .hide {
    display: none;
  }
}

header {
  padding: 5%;
  height: 590px;
  background-image: url("img/me.png");
  background-size: 750px;
  background-repeat: no-repeat;
  background-position: right -300px bottom -10px;
  overflow: hidden;

  h1 {
    color: $main;
    font-size: 65px;
    margin-top: 0.7em;
  }

  p {
    color: black;
  }

  .hide-pic {
    overflow: hidden;
    margin: auto 10% 0 auto;
  }
}
