  @keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}
.final.container {
  width: 100vw;
  height: 70vh;
  background: #FFE5EF;
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
}
.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}

.final h1 {
  text-align: center;
  color: #95CCE5;
  font-size: 10em;
  font-family: 'Fredoka One', sans-serif;
  z-index: 500;
  line-height:160px;
}
.final .announce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.final .announce .headings,
.final .announce img {
  z-index: 5000;
}

.split {
  // position: absolute;
  // bottom: 0;
  z-index: 500;
  height: 50px;
  background: $bgirl;
  width: 100%;
}

.explainer {
  max-width: 850px;
  margin: 0 auto;
}

.explainer p {
  margin-bottom: 10px;
}

.party {
  margin-top: 50px;
}

.celebrate img {
  width: 200px;
}

.celebrate a {
  text-decoration: none;
}

.celebrate {
  text-align: center;
  background: $lboy;
  padding: 50px;
}

.final h2, 
.celebrate h2 {
  font-size: 60px;
}

.celebrate .links {
  display: inline-flex;
}

.zoom {
  transition: transform .4s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.invite {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
      border: 1px solid #D0e5DA;
    border-radius: .5rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
    background: #fefdfd;
    margin-bottom:10px;
}

.invite .cute-pic {
  
  width: 30%;
  height: auto;
  background-size: cover;
}

#number {
    text-align: left;
}

.invite .cute-pic#nick {
  background-image: url(./baby-girl/baby-nick.jpg);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.invite .cute-pic#abby {
  background-image: url(./baby-girl/baby-abby.jpg);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.invite .details {
  width: 70%;
  padding: 10px 20px;
}

.details .type {
  color: #4a5568;
  font-size: 2rem;
}

.party p {
  font-size: 1.25rem;
}

.party .info {
  padding: 15px 0;
}

body.can {
  background: $lgirl;
}
.liner {
  display: grid;
    grid-template-columns: 1fr 1fr;
    width: 340px;
    margin: 0 auto;
}

.slider-single {
    max-width: 900px;
    margin: 0 auto;
}

.slider-single h3 {
  text-align: center;
  padding-top: 10px;
}

.slider-single img {
    width: 285px;
    height: 380px;
    object-fit: cover;
}

.slick-slide {margin-right: 15px;}