@media only screen and (max-width: 600px) {

    .landing h1 {
        font-size: 50px;
    }

    .landing h2  {
        font-size: 30px;
        padding-top: 40px;
    }

    .landing #start {
        margin: 15px 0;
    }

    .landing .main-btn {
        margin: 40px 0;
    }

    .landing p {
        font-size: 22px;
    }

    .inner h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .explanation .topper {
        display: flex;
        justify-content: space-between;
        margin: 5px 25px;
    }

    .q1.inner .options,
    .q2.inner .options,
    .q3.inner .options,
    .q4.inner .options,
    .q5.inner .options {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        width: 70% !important;
        // margin: 0 !important;
        // margin-left: 50px !important;
        margin-left: 10%;
    }

    .q1.inner .options span,
    .q2.inner .options span,
    .q3.inner .options span,
    .q4.inner .options span,
    .q5.inner .options span {
        width: 100% !important;
        font-size: 30px;
    }

    .inner .options span:nth-of-type(1), 
    .inner .options span:nth-of-type(3) {
        margin-right: 0;
    }

    .inner .options span {
        padding-top: 0 !important;
        height: 40px !important;
    }

    .girl .inner .options .main-btn,
    .boy .inner .options .main-btn {
        margin-top: 15px 0 !important;
        margin-bottom: 0;
    }

    span.right.main-btn,
    span.wrong.main-btn {
        padding-top: 15px !important;
    }

    // .next {
    //     position: absolute;
    //     bottom: 10px;
    //     right: 25px;
    // }

    // .explanation p:nth-of-type(1) {
    //     padding-top: 30px;
    // }

    .final img {
        width: 90%;
        margin-left: 15px !important;
    }
    .final .announce,
    .final .ways-to-celebrate {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .9fr .9fr;
        align-items: center;
        justify-items: center;
    }

}
@media (max-width: 320px) {
    span.main-btn.big-btn {
        height: 70px !important;
        padding-top: 0 !important;
    }
    .final img {
        width: 250px !important;
        margin-left: 15px !important;
    }
}

@media (max-width: 800px) {
    .final h1 {
      font-size: 20vw !important;
      line-height: inherit;
    }
    .final h2,
    .celebrate h2 {
      margin-top: 20px;
      font-size: 10vw !important;
    }

    .celebrate {
        padding: 20px;
    }
    
    .liner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 200px;
        margin: 0 auto;
    }
    .invite {
        flex-direction: column;
    }
    .invite:nth-last-of-type(1) {
        flex-direction: column-reverse;
    }

    .party .invite .cute-pic, 
    .party .invite .details {
        width: 100%;
    }

    .party .invite .cute-pic {
        height: 200px;
        width: auto;
    }

    .invite .cute-pic#nick,
    .invite .cute-pic#abby {
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
        border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .links img {
        align-self: center;
    }
    .final .announce .headings h2 {
        line-height: 60px;
    }
    .final .announce .headings h2 {
        line-height: 30px;
    }
    .party {
        margin-top: 0;
    }
    #number {text-align: center;}
    .q5 span.boy.main-btn, .q5 span.girl.main-btn  {
        margin-top: 15px;
    }

    .q5 span.main-btn {
        height: 50px !important;
        padding-top: 20px !important;
    }
}