@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); } }
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); } }
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); } }
.final.container {
  width: 100vw;
  height: 70vh;
  background: #FFE5EF; }

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%; }

.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards; }

.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards; }

.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards; }

.final h1 {
  text-align: center;
  color: #95CCE5;
  font-size: 10em;
  font-family: 'Fredoka One', sans-serif;
  z-index: 500;
  line-height: 160px; }

.final .announce {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center; }

.final .announce .headings,
.final .announce img {
  z-index: 5000; }

.split {
  z-index: 500;
  height: 50px;
  background: #F4BED6;
  width: 100%; }

.explainer {
  max-width: 850px;
  margin: 0 auto; }

.explainer p {
  margin-bottom: 10px; }

.party {
  margin-top: 50px; }

.celebrate img {
  width: 200px; }

.celebrate a {
  text-decoration: none; }

.celebrate {
  text-align: center;
  background: #E5F0FF;
  padding: 50px; }

.final h2,
.celebrate h2 {
  font-size: 60px; }

.celebrate .links {
  display: inline-flex; }

.zoom {
  transition: transform .4s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

.invite {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: 1px solid #D0e5DA;
  border-radius: .5rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
  background: #fefdfd;
  margin-bottom: 10px; }

.invite .cute-pic {
  width: 30%;
  height: auto;
  background-size: cover; }

#number {
  text-align: left; }

.invite .cute-pic#nick {
  background-image: url(./baby-girl/baby-nick.jpg);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem; }

.invite .cute-pic#abby {
  background-image: url(./baby-girl/baby-abby.jpg);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem; }

.invite .details {
  width: 70%;
  padding: 10px 20px; }

.details .type {
  color: #4a5568;
  font-size: 2rem; }

.party p {
  font-size: 1.25rem; }

.party .info {
  padding: 15px 0; }

body.can {
  background: #FFE5EF; }

.liner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 340px;
  margin: 0 auto; }

.slider-single {
  max-width: 900px;
  margin: 0 auto; }

.slider-single h3 {
  text-align: center;
  padding-top: 10px; }

.slider-single img {
  width: 285px;
  height: 380px;
  object-fit: cover; }

.slick-slide {
  margin-right: 15px; }

@media only screen and (max-width: 600px) {
  .landing h1 {
    font-size: 50px; }

  .landing h2 {
    font-size: 30px;
    padding-top: 40px; }

  .landing #start {
    margin: 15px 0; }

  .landing .main-btn {
    margin: 40px 0; }

  .landing p {
    font-size: 22px; }

  .inner h2 {
    font-size: 30px;
    margin-bottom: 0; }

  .explanation .topper {
    display: flex;
    justify-content: space-between;
    margin: 5px 25px; }

  .q1.inner .options,
  .q2.inner .options,
  .q3.inner .options,
  .q4.inner .options,
  .q5.inner .options {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    width: 70% !important;
    margin-left: 10%; }

  .q1.inner .options span,
  .q2.inner .options span,
  .q3.inner .options span,
  .q4.inner .options span,
  .q5.inner .options span {
    width: 100% !important;
    font-size: 30px; }

  .inner .options span:nth-of-type(1),
  .inner .options span:nth-of-type(3) {
    margin-right: 0; }

  .inner .options span {
    padding-top: 0 !important;
    height: 40px !important; }

  .girl .inner .options .main-btn,
  .boy .inner .options .main-btn {
    margin-top: 15px 0 !important;
    margin-bottom: 0; }

  span.right.main-btn,
  span.wrong.main-btn {
    padding-top: 15px !important; }

  .final img {
    width: 90%;
    margin-left: 15px !important; }

  .final .announce,
  .final .ways-to-celebrate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .9fr .9fr;
    align-items: center;
    justify-items: center; } }
@media (max-width: 320px) {
  span.main-btn.big-btn {
    height: 70px !important;
    padding-top: 0 !important; }

  .final img {
    width: 250px !important;
    margin-left: 15px !important; } }
@media (max-width: 800px) {
  .final h1 {
    font-size: 20vw !important;
    line-height: inherit; }

  .final h2,
  .celebrate h2 {
    margin-top: 20px;
    font-size: 10vw !important; }

  .celebrate {
    padding: 20px; }

  .liner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 200px;
    margin: 0 auto; }

  .invite {
    flex-direction: column; }

  .invite:nth-last-of-type(1) {
    flex-direction: column-reverse; }

  .party .invite .cute-pic,
  .party .invite .details {
    width: 100%; }

  .party .invite .cute-pic {
    height: 200px;
    width: auto; }

  .invite .cute-pic#nick,
  .invite .cute-pic#abby {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0; }

  .links img {
    align-self: center; }

  .final .announce .headings h2 {
    line-height: 60px; }

  .final .announce .headings h2 {
    line-height: 30px; }

  .party {
    margin-top: 0; }

  #number {
    text-align: center; } }
body {
  margin: 0;
  background: #F0F0F0;
  font-family: 'Fredoka One', sans-serif; }

.wrapper {
  text-align: center; }

.landing {
  width: 100vw;
  height: 100vh; }

.main-btn {
  padding: 10px 15px;
  color: #fff;
  border-radius: 30px;
  cursor: e-resize;
  white-space: normal;
  display: inline-block; }

h1, h2, h3, h4 {
  margin: 10px 0; }

h1 {
  text-transform: uppercase;
  font-size: 125px;
  text-align: center;
  font-size: 10em;
  margin-bottom: 0;
  z-index: 500;
  font-family: 'Fredoka One', sans-serif; }

h2 {
  font-size: 80px;
  text-align: center;
  color: #95CCE5;
  font-size: 5em;
  margin-top: 0;
  z-index: 500;
  font-family: 'Fredoka One', sans-serif; }

span, p, a {
  font-size: 30px; }

.landing h1, .landing h2 {
  color: #95CCE5; }

.landing h2 {
  padding-top: 20px;
  padding-bottom: 30px; }

.landing p {
  color: #F4BED6; }

.landing .main-btn {
  background-color: #F4BED6;
  margin: 0; }

.landing a {
  text-decoration: none; }

a:link {
  color: #fff; }

a:visited {
  color: #fff; }

a:hover {
  color: #fff; }

a:active {
  color: #fff; }

a.key {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff !important; }

a.key:hover {
  color: #F2F2F2 !important; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
body {
  animation: 1s ease-out 0s 1 slideInFromLeft; }

body.girl {
  background: #FFE5EF; }

.girl .inner h1, .girl .inner h2, .girl .inner h3, .girl .inner p {
  color: #F4BED6; }

.girl .inner .main-btn {
  background-color: #F4BED6;
  margin: 20px 0; }

body.boy {
  background: #E5F0FF; }

.boy .inner h1, .boy .inner h2, .boy .inner h3, .boy .inner p {
  color: #95CCE5; }

.boy .inner .main-btn {
  background-color: #95CCE5;
  margin: 20px 0; }

.q5 h3 {
  color: #fff; }

.q5 a.options {
  text-decoration: none; }

span.boy.main-btn {
  background-color: #95CCE5; }

span.girl.main-btn {
  background-color: #F4BED6; }

.inner .options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center; }

.inner .options span {
  width: 40%;
  height: 100px;
  padding-top: 50px;
  font-size: 40px;
  transition: .2s; }

.inner .options span:hover {
  position: relative;
  top: -5px;
  transition: .2s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }

.inner .options span:nth-of-type(1),
.inner .options span:nth-of-type(3) {
  margin-right: 20px; }

.explanation {
  display: none;
  max-width: 800px;
  margin: 0 auto; }

.explanation h3 {
  text-align: left; }

.explanation h3 span {
  display: inline-block;
  transform: scale(1, -1); }

a#next1 {
  margin-top: 0; }

.final img {
  border: 15px solid #fff;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }

/*# sourceMappingURL=style.css.map */
