@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
@import "partials/_variables.scss";
@import "partials/_welcome.scss";
@import "partials/_passions.scss";
@import "partials/_projects.scss";
@import "partials/_skills.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 20px;
  line-height: 1.25em;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #efefef;
  color: white;
}

button {
  background-color: $cot;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.about {
  background-color: $darkg;
  padding: 10% 5% 5% 10%;

  h2 {
    font-size: 28px;
    letter-spacing: 0.05em;
    margin-bottom: 15%;
  }

  p {
    padding-bottom: 10%;
  }
}

footer {
  background-color: $a1;
  height: 80px;
  padding: 3%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  button {
    padding: 8px;
  }

  .links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-top: 10px;
  }

  img {
    width: 40px;
    padding: 0 10px 0 0;
  }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }

// tablet view
@media (min-width: 768px) {
  nav {
    justify-content: space-between;

    .hide {
      display: inline;
    }
  }

  header {
    height: 530px;
    background-size: 850px;
    background-position: right -200px bottom -12px;

    .content {
      margin-left: 5%;
    }

    p {
      width: 400px;
    }
  }

  .passions {
    height: 35%;
    padding: 5% 5% 5% 10%;

    h1 {
      margin-bottom: 5%;
    }

    .passion_title {
      letter-spacing: 0.1em;

      & + p {
        margin-bottom: 5%;
        width: 600px;
      }
    }
  }

  .dev,
  .design {
    width: 30%;
    border-radius: 10px;

    & h2 {
      padding: 5px;
    }

    svg {
      width: 10%;
      height: auto;
    }
  }

  .about {
    padding: 5% 5% 5% 5%;

    h2 {
      font-size: 28px;
      letter-spacing: 0.05em;
      margin-bottom: 5%;
    }

    p {
      padding-bottom: 5%;
      width: 600px;
    }

    .details {
      margin-left: 39%;
    }
  }

  .projects {
    height: 100%;
    width: 90%;
    margin: auto;

    .panel {
      width: 150px;
      height: 200px;
    }

    h2 {
      width: 60px;
      font-size: 28px;
      margin-left: -55px;
    }

    .box a {
      width: 60%;
    }

    .box3 .special-svg {
      padding-top: 10px;
    }
  }

  .skills {
    flex-direction: row;

    & p {
      font-weight: bold;
      width: 200px;
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  header {
    height: 500px;
    background-size: 950px;
    background-position: right -100px bottom -12px;
  }

  .passions {
    height: 55%;
    background-color: $dark;
    justify-content: center;

    .passion_title {
      letter-spacing: 0.1em;

      & + p {
        width: 800px;
      }
    }
  }

  .projects {
    .panel {
      width: 150px;
      height: 250px;
    }
  }
}
