@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
@import "partials/_variables.scss";
@import "partials/_welcome.scss";
@import "partials/_passions.scss";
@import "partials/_projects.scss";
@import "partials/_skills.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 20px;
  line-height: 1.25em;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #efefef;
  color: white;
}

.button{
  background-color: $cot;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.about {
  background-color: $darkg;
  padding: 10% 5% 5% 10%;

  h2 {
    font-size: 28px;
    letter-spacing: 0.05em;
    margin-bottom: 15%;
  }

  p {
    padding-bottom: 10%;
  }
}

footer {
  background-color: $a1;
  padding: 3%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  button {
    padding: 8px;
  }

  .links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-top: 10px;

    .fab {
      font-size: 1.5em;
      padding-left: 10px;
    }
  }

  img {
    width: 40px;
    padding: 0 10px 0 0;
  }
}

.hero .button, footer .button {
  margin-top: 20px;
  margin-left: 0;
  background-color: transparent;
  border: 4px $cot solid;
  color: black;
}

.hero .button {
  margin-top: 250px;
}

.hobbies {
  margin: 30px 20px;
  padding: 30px;
  background-color: white;
  color: $dark;

  p {
    padding-bottom: 10px;
  }

  .row {
    display: flex;
  }

  .hobby-intro {
    flex-direction: column;
    
    .my-code {
      width: 100%;
      padding-bottom: 30px;
    }
  }

  .center-block {
    text-align: center;
  }
}

// tablet view
@media (min-width: 768px) {
  nav {
    justify-content: space-between;

    .hide {
      display: inline;
    }
  }

  header {
    height: 530px;
    background-size: 850px;
    background-position: right -200px bottom -12px;

    .hero {
      margin-left: 5%;
    }

    p {
      width: 400px;
    }
  }

  .passions {
    height: 35%;
    padding: 5% 5% 5% 10%;

    h2 {
      margin-bottom: 5%;
    }

    .passion_title {
      letter-spacing: 0.1em;

      & + p {
        margin-bottom: 5%;
        width: 600px;
      }
    }
  }

  .hobbies {
    padding: 7%;

    p {
      padding-top: 2%;
    }

    .hobby-intro {
      display: flex;
      flex-direction: row;

      .about-info {
        padding-right: 5%;
      }

      .my-code {
        width: 100%;
        padding-bottom: 30px;
      }
    }

    .hobby-icons {
      display: flex;
      flex-flow: row wrap;
      width: 70%;
      margin-top: -15%;

      .center-block {
        width: 30%;
        margin-top: 5%;
      }

      .left {
        margin-right: 10%;
      }
    }
  }

  .dev,
  .design {
    width: 30%;
    border-radius: 10px;

    & h2 {
      padding: 5px;
    }

    svg {
      width: 10%;
      height: auto;
    }
  }

  .about {
    padding: 5% 5% 5% 5%;

    h2 {
      font-size: 28px;
      letter-spacing: 0.05em;
      margin-bottom: 5%;
    }

    p {
      padding-bottom: 5%;
      width: 600px;
    }

    .details {
      margin-left: 39%;
    }
  }

  .projects {
    height: 100%;
    width: 90%;
    margin: auto;

    .panel {
      width: 150px;
      height: 200px;
    }

    h2 {
      width: 60px;
      font-size: 28px;
      margin-left: -55px;
    }

    .box a {
      width: 60%;
    }

    .box3 .special-svg {
      padding-top: 10px;
    }
  }

  .skills {
    flex-direction: row;

    & p {
      font-weight: bold;
      width: 200px;
      text-align: center;
    }
  }

  .hero .button, footer .button {
    margin-top: 22px;
    margin-left: 2px;
    background-color: transparent;
    border: 2px #00000078 solid;
    color: #00000078;
    transition: .1s;
  }

  .hero .button:hover, footer .button:hover {
    margin-top: 20px;
    margin-left: 0;
    background-color: transparent;
    border: 4px $cot solid;
    color: black;
  }

 .proj {
    .explain {
      flex-direction: row;
    }
    .backwards {
      flex-flow: row-reverse;
    }
  }
}

@media (min-width: 1200px) {
  header {
    height: 500px;
    background-size: 950px;
    background-position: right -100px bottom -12px;
  }

  .passions {
    height: 55%;
    background-color: $dark;
    justify-content: center;

    .passion_title {
      letter-spacing: 0.1em;

      & + p {
        width: 800px;
      }
    }
  }

  .projects {
    .panel {
      width: 150px;
      height: 250px;
    }
  }
}
