@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
@import "partials/_variables.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 20px;
  line-height: 1.25em;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #efefef;
  color: white;
}

button {
  background-color: $cot;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

nav {
  img {
    width: 80px;
    margin-top: 5px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: none;
    width: 300px;
    margin-right: 5%;
    color: black;

    li {
      cursor: pointer;
    }
  }

  .upbutton {
    margin-top: 10px;
  }
}

header {
  margin: 0 2% 0 2%;
  overflow: hidden;

  h1 {
    color: $main;
    font-size: 50px;
  }

  p {
    color: black;
  }

  .hide-pic {
    overflow: hidden;
    margin: auto 10% 0 auto;
  }
}

.passions {
  background-color: $dark;
  color: white;
  padding: 10% 5% 5% 10%;

  h1 {
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 5%;
  }

  .passion_title {
    font-weight: 900;
    letter-spacing: 0.1em;

    & + p {
      margin-bottom: 2%;
    }
  }
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .box1 {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin: 5%;
    background-color: $darkg;
  }
  .box2 {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin: 5%;
    background-color: $a3;
  }
  .box3 {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin: 5%;
    background-color: $dark;
  }
  .box4 {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin: 5%;
    background-color: $a1;
  }
  .box5 {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin: 5%;
    background-color: $a2;
  }
  .box6 {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin: 5%;
    background-color: $main;
  }
}

.about {
  background-color: $darkg;
}
