@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); } }
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); } }
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); } }
.container {
  width: 100vw;
  height: 160vh;
  background: #FFE5EF; }

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%; }

.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards; }

.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards; }

.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards; }

.final h1 {
  text-align: center;
  color: #95CCE5;
  font-size: 10em;
  font-family: 'Fredoka One', sans-serif;
  z-index: 500; }

@media (max-width: 800px) {
  .final h1 {
    font-size: 7em !important; }

  .final h2 {
    margin-top: 20px;
    font-size: 4em !important; } }
@media only screen and (max-width: 600px) {
  .landing h1 {
    font-size: 70px; }

  .landing h2 {
    font-size: 50px;
    padding-top: 40px; }

  .landing #start {
    margin: 20px 0; }

  .inner h2 {
    font-size: 50px; }

  .inner .options {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    width: 70% !important;
    margin: 0 !important;
    margin-left: 50px !important; }

  .inner .options span {
    width: 100% !important; }

  .inner .options span:nth-of-type(1),
  .inner .options span:nth-of-type(3) {
    margin-right: 0; }

  .inner .options span {
    padding-top: 0 !important;
    height: 40px !important; }

  .girl .inner .main-btn,
  .boy .inner .main-btn {
    margin: 30px 0 !important; }

  span.wrong.main-btn.big-btn {
    height: 90px !important; } }
body {
  margin: 0;
  background: #F0F0F0;
  font-family: 'Fredoka One', sans-serif; }

.wrapper {
  text-align: center; }

.landing {
  width: 100vw;
  height: 100vh; }

.main-btn {
  padding: 10px 15px;
  color: #fff;
  border-radius: 30px;
  cursor: e-resize;
  white-space: normal;
  display: inline-block; }

h1, h2, h3, h4 {
  margin: 10px 0; }

h1 {
  text-transform: uppercase;
  font-size: 125px;
  text-align: center;
  font-size: 10em;
  margin-bottom: 0;
  z-index: 500;
  font-family: 'Fredoka One', sans-serif; }

h2 {
  font-size: 80px;
  text-align: center;
  color: #95CCE5;
  font-size: 5em;
  margin-top: 0;
  z-index: 500;
  font-family: 'Fredoka One', sans-serif; }

span, p, a {
  font-size: 30px; }

.landing h1, .landing h2 {
  color: #95CCE5; }

.landing h2 {
  padding-top: 20px;
  padding-bottom: 30px; }

.landing p {
  color: #F4BED6; }

.landing .main-btn {
  background-color: #F4BED6;
  margin: 40px 0; }

.landing a {
  text-decoration: none; }

a:link {
  color: #fff; }

a:visited {
  color: #fff; }

a:hover {
  color: #fff; }

a:active {
  color: #fff; }

a.key {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #F5F5F5 !important; }

a.key:hover {
  color: #F2F2F2 !important; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
body {
  animation: 1s ease-out 0s 1 slideInFromLeft; }

body.girl {
  background: #FFE5EF; }

.girl .inner h1, .girl .inner h2, .girl .inner h3, .girl .inner p {
  color: #F4BED6; }

.girl .inner .main-btn {
  background-color: #F4BED6;
  margin: 40px 0; }

body.boy {
  background: #E5F0FF; }

.boy .inner h1, .boy .inner h2, .boy .inner h3, .boy .inner p {
  color: #95CCE5; }

.boy .inner .main-btn {
  background-color: #95CCE5;
  margin: 40px 0; }

.inner .options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center; }

.inner .options span {
  width: 40%;
  height: 100px;
  padding-top: 50px;
  font-size: 40px;
  transition: .2s; }

.inner .options span:hover {
  position: relative;
  top: -5px;
  transition: .2s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }

.inner .options span:nth-of-type(1),
.inner .options span:nth-of-type(3) {
  margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
