$light: #F0F0F0;
$bgirl: #F4BED6;
$lgirl: #FFE5EF;
$bpurple: #ffffff;
$lpurple: #ffffff;
$bboy: #95CCE5;
$lboy: #E5F0FF;
$bteal: #ffffff;
$lteal: #ffffff;
$right: #BAD9B5;
$bright: #7FD1C7;
$wrong: #D8B3C2;